<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Player</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link
            class="jsbin"
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
            rel="stylesheet"
            type="text/css"
    />
    <script
            class="jsbin"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
    ></script>
    <script
            class="jsbin"
            src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
    ></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <style>
        #table input, #table select {
            width: 150px;
        }
    </style>
</head>
<body>
<form enctype="multipart/form-data"
      method="post" novalidate="novalidate" th:action="@{/player/buy-or-update-player}" th:object="${player}">
    <div class="table-section">
        <table id="table">
            <tr class="header-row">
                <th class="header-item items" colspan="2">Cập nhật thông tin cầu thủ</th>
            </tr>
            <tr class="table-rows">
                <td class="items">ID cầu thủ</td>
                <td class="items">
                    <input readonly th:field="*{id}" type="text">
                    <p style="color: darkred" th:errors="*{id}" th:if="${#fields.hasErrors('id')}">abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Nhập họ cầu thủ <sup>*</sup></td>
                <td class="items">
                    <input th:field="*{firstName}" type="text">
                    <p style="color: darkred" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Nhập tên cầu thủ <sup>*</sup></td>
                <td class="items">
                    <input th:field="*{lastName}" type="text">
                    <p style="color: darkred" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Chọn vị trí</td>
                <td class="items">
                    <select th:field="*{positionDetailId}">
                        <option th:each="c: ${positionDetails}" th:text="${c.code}" th:value="${c.id}"></option>
                    </select>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Lương <sup>*</sup></td>
                <td class="items">
                    <input pattern="^[\d,]+$" placeholder="Nhập lương cầu thủ" th:field="*{annuallySalary}" type="text">
                    <p style="color: darkred" th:errors="*{annuallySalary}"
                       th:if="${#fields.hasErrors('annuallySalary')}">abc</p>
                    <p style="color: darkred" th:if="${validAnnuallySalary != null}" th:text="${validAnnuallySalary}">
                        abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Giá trị chuyển nhượng <sup>*</sup></td>
                <td class="items">
                    <input placeholder="Nhập giá trị chuyển nhượng của cầu thủ" th:field="*{marketValue}" type="number">
                    <p style="color: darkred" th:errors="*{marketValue}" th:if="${#fields.hasErrors('marketValue')}">
                        abc</p>
                    <p style="color: darkred" th:if="${validMarketValue != null}" th:text="${validMarketValue}">abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Quốc tịch</td>
                <td class="items">
                    <select th:field="*{countryId}">
                        <option label="Chọn quốc tịch" th:value="null"></option>
                        <option th:each="c: ${countries}" th:text="${c.name}" th:value="${c.id}"></option>
                    </select>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">D.O.B</td>
                <td class="items">
                    <input id="datefield" onkeydown="return false" th:field="*{dateOfBirth}" type="date">
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Kỹ năng đặc biệt</td>
                <td class="items">
                    <input th:field="*{skill}" type="text">
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Số áo <sup>*</sup></td>
                <td class="items">
                    <input th:field="*{clothesNumber}" type="number">
                    <p style="color: darkred" th:errors="*{clothesNumber}"
                       th:if="${#fields.hasErrors('clothesNumber')}">abc</p>
                    <p style="color: darkred" th:if="${validClothesNumber != null}" th:text="${validClothesNumber}">
                        abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Tình trạng sức khỏe</td>
                <td class="items">
                    <select th:field="*{isInjury}">
                        <option label="Chọn tình trạng hiện tại" th:value="null"></option>
                        <option th:value="false">Khỏe mạnh</option>
                        <option th:value="true">Chấn thương</option>
                    </select>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Phong độ</td>
                <td class="items">
                    <select th:field="*{conditionId}">
                        <option th:each="c: ${conditions}" th:text="${c.name}" th:value="${c.id}"></option>
                    </select>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items">Avatar</td>
                <td class="items">
                    <input hidden th:field="*{avatar}" type="text">
                    <input accept=".jpg, .jpeg, .png, .svg" name="uploadImg" onchange="readURL(this);" type="file">
                    <img alt="your image" id="blah" src="#"/>
                    <p style="color: darkred" th:if="${validAvatar != null}" th:text="${validAvatar}">abc</p>
                </td>
            </tr>
            <tr class="table-rows">
                <td class="items"></td>
                <td class="items">
                    <input class="btn btn-success" type="submit" value="Cập nhật">
                    <a class="btn btn-primary" href="/player/manage-player">Thoát</a></td>
                </td>
            </tr>
        </table>
    </div>
</form>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result).width(150).height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    };
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
</script>
</body>
</html>